/* CSS declarations go here */
body {
	padding: 30px;
}

@media print {
    /*footer {page-break-after: always;} */
	
	.matcherName {
		/* page-break-before: always; */

	}

    .matchPerson {
        page-break-inside: avoid;
        margin-bottom: 30px;
    }

    .login-link-text {
    	display: none;
    }

    .showPrintDialog, .back {
    	display: none;
    }
}